<%= form_for([@sake,@feeling]) do |f| %>
  <% if @feeling.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feeling.errors.count, "error") %> prohibited this feeling from being saved:</h2>

      <ul>
      <% @feeling.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div id="sakeDetail" > 
   <div id="sakeImage" >
     <%= image_tag(@sake.url_large, :size=>"90x188") %>
   </div>
   <p style="font-size:20px;"><strong><%= @sake.name %></strong></p>
   <br>
 </div>
  <div class="field">
    <%= @sake._id %>
  </div>
  <div class="field">
    <%= current_member.id %>
  </div>
  <div class="field">
    コメント  :  <br />
    <%= f.text_field :memo %>
  </div>
  <div class="field">
    甘味  :  <br />
    <%= f.text_field :doux_brut %>
  </div>
  <div class="field">
    苦味  :  <br />
    <%= f.text_field :bitter %>
  </div>
  <div class="field">
    渋み  :  <br />
    <%= f.text_field :rough %>
  </div>
  <div class="field">
    濃淡  :  <br />
    <%= f.text_field :hard_right %>
  </div>
  <div class="field">
    旨味  :  <br />
    <%= f.text_field :umami %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
