<%= form_for([@sake,@feeling]) do |f| %>
  <% if @feeling.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feeling.errors.count, "error") %> prohibited this feeling from being saved:</h2>

      <ul>
      <% @feeling.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="sakeDetail" > 
    <div id="sakeImage" >
      <%= image_tag(@sake.url_large, :size=>"90x188") %>
    </div>
    <div id="update_data" > 
      <div class="field">
        コメント  : &nbsp;&nbsp;&nbsp; <%= f.text_field :memo %>
      </div>
      <div class="field">
        甘味 &nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp; <%= f.text_field :doux_brut %>
      </div>
      <div class="field">
        苦味 &nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp; <%= f.text_field :bitter %>
      </div>
      <div class="field">
        渋み &nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp; <%= f.text_field :rough %>
      </div>
      <div class="field">
        濃淡 &nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp; <%= f.text_field :hard_right %>
      </div>
      <div class="field">
        旨味 &nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp; <%= f.text_field :umami %>
      </div>
    </div>
  </div>
  <BR clear="left" >
  <div class="actions">
    <%= f.submit %>
  </div>
<style type="text/css">
hr.feelsBorder {
background-color: white;
border-color: grey;
border-top: dashed 1px;
border-bottom-width: 0px;
}
div#feelings h4{
border-style: none none dashed solid;
border-color: -moz-use-text-color -moz-use-text-color rgb(51, 153, 204) rgb(51, 153, 204); 
border-width: medium medium 1px 5px; 
padding: 5px 10px;
margin-bottom: 1em; 
background-color: transparent;
font-size:14px;
}
div#sakeDetail{
font-size:16px;
padding: 5px 5px 0px 0px;
}
div#sakeImage{
float:left;
padding: 0px 20px 5px 0px; 
}
</style>
<% end %>
