<%= form_for(@sake) do |f| %>
  <% if @sake.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sake.errors.count, "error") %> prohibited this sake from being saved:</h2>

      <ul>
      <% @sake.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :url_large %><br />
    <%= f.text_field :url_large %>
  </div>
  <div class="field">
    <%= f.label :url_small %><br />
    <%= f.text_field :url_small %>
  </div>
  <div class="field">
    <%= f.label :recommend %><br />
    <%= f.text_field :recommend %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
