<%= stylesheet_link_tag "sake.css" %>

<div id="container3a">
  <div class="container3a1" style="margin-top:16px;">
    <a href="#">About Us</a>
  </div>
  <div class="container3a1">
    <a href="#">Serch</a>
  </div>
  <div class="container3a1">
    <a href="#">最近飲んだ人の感想</a>
  </div>
  <div class="container3a1">
    <a href="#">油長ホームページへ</a>
  </div>
  <div class="container3a1">
    <a href="#">お酒にまつわる話</a>
  </div>
  <div class="container3a1">&nbsp;</div>
</div>

<div id="content">

  <div id="list_title">
    <h2>お酒リスト</h2>
  </div>
  <br />

  <div id="side_bar">
    <table id="table_wrap">
      <tr>
	<th>飲んだ</th>
	<th>名前</th>
	<th>画像</th>
	<th></th>
      </tr>

      <% @sakes.each do |sake| %>
	<tr>
	  <td><%= sake.history.drunk %></td>
	  <td><%= sake.name %></td>
	  <td><%= image_tag(sake.url_small, :size => "40x80") %></td>
	  <td><%= link_to '詳細', sake_path(sake) %></td>
	</tr>
      <% end %>
    </table>
  </div>
</div>

<div id="serch_wrap">
</div>
<br />

