<%= stylesheet_link_tag "sake.css" %>

<% if current_member %>
  <div id="container3a">
    <br />
    <div class="container3a1" style="margin-top:16px;"> 
      <%= link_to '今飲んでるもの', sakes_path %>
    </div>
    <div class="container3a1">
      <%= link_to '次飲むつもりリスト', histories_path(:next_order => "true") %>
    </div>
    <div class="container3a1">
      <%= link_to '今まで飲んだリスト', histories_path(:drunk => "true") %>
    </div>
    <div class="container3a1">
      <a href="#">最近飲んだリスト</a>
    </div>
    <div class="container3a1">&nbsp;</div>
  </div>
<% else %>
  <div id="container3a">
    <br />
    <div class="container3a1">
      <%= link_to 'ログイン', new_member_session_path, :class => "links" %>
    </div>
    <div class="container3a1">&nbsp;</div>
  </div>
<% end %>

<div id="content">

  <div id="list_title">
    <h2>お酒リスト</h2>
  </div>
  <br />

  <div id="side_bar">
    <table id="table_wrap">
      <tr>
	<th>飲んだ</th>
	<th>名前</th>
	<th>画像</th>
	<th></th>
      </tr>

      <% @sakes.each do |sake| %>
	<tr>
	  <% if @histories.include? sake.id %>
	    <td>飲んだ</td>
	  <% else %>
	    <td>まだ</td>
	  <% end %>
	  <td><%= sake.name %></td>
	  <td><%= image_tag(sake.url_small, :size => "40x80") %></td>
	  <td><%= link_to '詳細', sake_path(sake) %></td>
	</tr>
      <% end %>
    </table>
  </div>
</div>

<div id="serch_wrap">
  <%= form_for(@sake, :method => 'get') do |f| %>
    <%= f.text_field :name , :size => "20" %>
    <br />
    <%= f.submit %>
  <% end %>
</div>
<br />

