<p id="notice"><%= notice %></p>
<div id="sakeDetail" > 
  <div id="sakeImage" >
    <%= image_tag(@sake.url_large, :size=>"90x188") %>
  </div>
  <% if @my_feel.length >0 %>
  <div id="starImage" >
    <img alt="star" src="/star.jpg"/> 
  </div>
  <% end %>
  <p style="font-size:20px;"><strong><%= @sake.name %></strong></p>
   <p><%= raw(@sake.comment.gsub("。","。<br>")) %></p>
  <br>
  <p><strong> 価格 : </strong>
    <% price = @sake.price.to_s.gsub(/(\d)(?=(\d{3})+(?!\d))/, '\1,').to_s + '円' %>
    <%= price %>
  </p>
</div>
<BR clear="left" >
<div id="feelings" > 
  <% if @my_feel.length >0 %>
    <h4 ><b> 感想 </b></h4>
    <% feel = @my_feel[0] %>
    <b> 名前: </b>  <%= feel.member_id%>
    <b> 甘味: </b> <%= feel.doux_brut %>
    <b> 渋み: </b>  <%= feel.rough %>
    <b> 濃さ: </b>  <%= feel.hard_right %>
    <b> 旨味: </b>  <%= feel.umami%>
    <b> 感想: </b> <%= feel.memo %>
  <% end %>
</div>
<div id="feelings" > 
  <% if @our_feel.length >0 %>
    <h4 ><b> コメント</b></h4>
  <% end %>
  <% @our_feel.each do |feel| %>
      <span style ='font-size:12px;color:gray;'><strong>&nbsp;&nbsp; <%= feel.member_id%> &nbsp;&nbsp;&nbsp;&nbsp;</strong>
      <%= feel.updated_at%></span> 
      <br>&nbsp;&nbsp;
      <%= feel.memo %>
    <hr class = "feelsBorder" noshade>
  <% end %>
</div>

<h4 ><%= link_to '←戻る', sakes_path %></h4 >
<style type="text/css">
hr.feelsBorder {
background-color: white;
border-color: grey;
border-top: dashed 1px;
border-bottom-width: 0px;
}
div#feelings h4{
border-style: none none dashed solid;
border-color: -moz-use-text-color -moz-use-text-color rgb(51, 153, 204) rgb(51, 153, 204); 
border-width: medium medium 1px 5px; 
padding: 5px 10px;
margin-bottom: 1em; 
background-color: transparent;
font-size:14px;
}
div#sakeDetail{
font-size:16px;
padding: 5px 5px 0px 0px;
}
div#sakeImage{
float:left;
padding: 0px 20px 5px 0px; 
}
div#starImage{
float:right;
padding: 0px 20px 5px 0px; 
}
</style>
