<p id="notice"><%= notice %></p>


<div id="sakeDetail" > 
    <p id="sake_image" style="float:left;" >
    <%= image_tag(@sake.url_small) %>
    </p>
    <p id="sake_name">
    <b> 名前 : </b>
    <%= @sake.name %>
  </p>
  <p id="sake_price">
    <b> 価格 : </b>
    <% price = @sake.price.to_s.gsub(/(\d)(?=(\d{3})+(?!\d))/, '\1,').to_s + '円' %>
    <%= price %>
  </p>
  <BR clear="left">
  <p id="sake_comment">
    <b> 説明 : </b>
    <%= raw(@sake.comment.gsub("。","。<br>")) %>
  </p>
</div>
<%= link_to 'Edit', edit_sake_path(@sake) %> |
<%= link_to 'Back', sakes_path %>
<style type="text/css">


p.sake_image{
float: left;
margin: 500px 50px 30px 50px;
}

</style>
