<%= stylesheet_link_tag "history.css" %>

<% if current_member %>
  <div id="container3a">
    <br />
    <div class="container3a1" style="margin-top:16px;"> 
      <%= link_to '今飲んでるもの', sakes_path %>
    </div>
    <div class="container3a1">
      <%= link_to '次飲むつもりリスト', histories_path(:next_order => "true") %>
    </div>
    <div class="container3a1">
      <%= link_to '今まで飲んだリスト', histories_path(:drunk => "true") %>
    </div>
    <div class="container3a1">
      <a href="#">最近飲んだリスト</a>
    </div>
    <div class="container3a1">&nbsp;</div>
  </div>
<% else %>
  <div id="container3a">
    <br />
    <div class="container3a1">
      <%= link_to 'ログイン', new_member_session_path, :class => "links" %>
    </div>
    <div class="container3a1">&nbsp;</div>
  </div>
<% end %>

<div id="content">

  <% if params[:next_order] == "true" %>
    <% title = "次飲むつもりリスト" %>
  <%  elsif params[:drunk] == "true" %>
    <% title = "今まで飲んだリスト" %>
  <% else %>
    <% title = "履歴一覧" %>
  <% end %>

  <div id="list_title">
    <h2><%= title %></h2>
  </div>
  <br />

  <% if @histories.blank? %>
    <br />
    <p>今ここに登録されているお酒はありません。</p>
  <% else %>
    <div id="side_bar">
      <table id="table_wrap">
	<tr>
	  <th>飲んだ</th>
	  <th width=210>名前</th>
	  <th>画像</th>
	  <th>次飲む</th>
	  <th></th>
	</tr>

	<% @histories.each do |history| %>
	  <tr>
	    <% if history.drunk = "true" %>
	      <td><%= image_tag("star.gif", :size => "30x30") %></td>
	    <% else %>
	      <td></td>
	    <% end %>
	    <td><%= history.sake.name %></td>
	    <td><%= image_tag(history.sake.url_small, :size => "40x80") %></td>
	    <% if history.next_order = "true" %>
	      <td><%= image_tag("choko.gif", :size => "30x30") %></td>
	    <% else %>
	      <td></td>
	    <% end %>
	    <td><%= link_to '詳細', sake_path(history.sake_id) %></td>
	  </tr>
	<% end %>
      </table>
    <% end %>
  </div>
</div>

<%  if params[:drunk] == "true" %>
  <table id="category_table">
    <tr>
      <th>Done</th>
      <th>カテゴリ</th>
    </tr>

    <% @categories.each do |category| %>
      <tr>
	<td><%= category.id %></td>
	<td><%= category.name %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<br />
