<%= stylesheet_link_tag "history.css" %>

<div id="container3a">
  <div class="container3a1" style="margin-top:16px;">
    <a href="#">About Us</a>
  </div>
  <div class="container3a1">
    <a href="#">Serch</a>
  </div>
  <div class="container3a1">
    <a href="#">最近飲んだ人の感想</a>
  </div>
  <div class="container3a1">
    <a href="#">油長ホームページへ</a>
  </div>
  <div class="container3a1">
    <a href="#">お酒にまつわる話</a>
  </div>
  <div class="container3a1">&nbsp;</div>
</div>

<div id="content">
  <%= link_to 'New History', new_history_path %>

  <% if params[:next_order] == "true" %>
    <% title = "次飲むつもりリスト" %>
  <%  elsif params[:drunk] == "true" %>
    <% title = "今まで飲んだリスト" %>
  <% else %>
    <% title = "履歴一覧" %>
  <% end %>

  <div id="list_title">
    <h2><%= title %></h2>
  </div>
  <br />

  <% if @histories.blank? %>
    <br />
    <p>今ここに登録されているお酒はありません。</p>
  <% else %>
    <div id="side_bar">
      <table id="table_wrap">
	<tr>
	  <th>飲んだ</th>
	  <th width=210>名前</th>
	  <th>画像</th>
	  <th>次飲む</th>
	  <th></th>
	</tr>

	<% @histories.each do |history| %>
	  <tr>
	    <td><%= history.drunk %></td>
	    <td><%= history.sake.name %></td>
	    <td><%= image_tag(history.sake.url_small, :size => "50x100") %></td>
	    <td><%= history.next_order %></td>
	    <td><%= link_to '詳細', sake_path(history.sake_id) %></td>
	  </tr>
	<% end %>
      </table>
    <% end %>
  </div>
</div>
<br />
