<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @category_history.category_id %>
</p>

<p>
  <b>Member:</b>
  <%= @category_history.member_id %>
</p>

<p>
  <b>Complete:</b>
  <%= @category_history.complete %>
</p>


<%= link_to 'Edit', edit_category_history_path(@category_history) %> |
<%= link_to 'Back', category_histories_path %>
