<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Welcome to Tale of Aburacho</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="style.css" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    "style" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="frame">

    <!-- header starts here-->
    <div id="container1">
      <div id="header1">
      </div>

      <div id="header2">
	<%= link_to image_tag('aburacho_font.jpg', :size=>"198x36"), root_path %>
      </div>
      
      <div id="header3a">
	<div class="nav">
	  <a href="#" class="nav" title="Home">Home</a>  |  <a href="#" title="Contacts">Contacts</a>
	</div>
      </div>

      <div id="header3b">
	<h2>何する？</h2>
      </div>
    </div>
    <!-- header ends here-->


    <!-- container 2 starts here -->
    <div id="container2">
      <div id="container2a"></div>

      <div id="container2b">

	<% if current_member %>
	  <div id="container2b1">
	    下のメニューから選んでください。
	  </div>

	  <div class="container2b2" style="margin-top:13px;">
	    <%= image_tag('icon_arrow.gif', :size=>"8x7", :alt=>"") %>
	    &nbsp;
	    <%= link_to '今飲んでるものチェック！', sakes_path, :class => "links" %>
	  </div>

	  <div class="container2b2">
	    <%= image_tag('icon_arrow.gif', :size=>"8x7", :alt=>"") %>
	    &nbsp;&nbsp;&nbsp;
	    <%= link_to '次飲むつもりリスト', histories_path(:next_order => "true"), :class => "links" %>
	  </div>

	  <div class="container2b2">
	    <%= image_tag('icon_arrow.gif', :size=>"8x7", :alt=>"") %>
	    &nbsp;&nbsp;&nbsp;&nbsp;
	    <%= link_to '今まで飲んだリスト', histories_path(:drunk => "true"), :class => "links" %>
	  </div>

	  <div class="container2b2">
	    <%= image_tag('icon_arrow.gif', :size=>"8x7", :alt=>"") %>
	    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	    <a href="#" class="links">最近飲んだリスト</a>
	  </div>

	<% else %>
	  <div id="container2b1">
	    ログインしてください。
	  </div>

	  <div class="container2b2" style="margin-top:13px;">
	    <%= image_tag('icon_arrow.gif', :size=>"8x7", :alt=>"") %>
	    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	    <%= link_to 'ログイン', new_member_session_path, :class => "links" %>
	  </div>
	<% end %>

      </div>
    </div>	
    <!-- container 2 ends here -->

    <!-- container 3 starts here -->
    <div id="container3">

      <%= yield %>

    </div>
    <!-- container 3 ends here -->

    <!-- container 4 starts here -->
    <div id="container4">
      <div id="container4a">&nbsp;</div>
      <div id="container4b">Copyright © 2006. All rights reserved.</div>
      <br class="spacer"><br class="spacer">
      <p>Courtesy <a href="http://www.openwebdesign.org" target="_blank">Open Web Design</a>, Thanks to <a href="http://www.seo.us.com" target="_blank">SEO</a></p>
    </div>
    <!-- container 4 ends here -->

  </div>

</body>
</html>
